@import './reset.scss';
@import './mixin.scss';
@import './transition.scss';


@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #333;
  font-size: px2rem(20);
}

